<%= form_for(@stock) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="field">
    <%= f.label :name, "キット名" %>
    <%= f.text_field :name %>
    
    <%= f.label :category, "カテゴリ" %>
    <%= f.select :category, [ ["カーモデル",     "カーモデル"], 
                              ["ガレージキット", "ガレージキット"], 
                              ["艦船",           "艦船"], 
                              ["ガンプラ",       "ガンプラ"], 
                              ["航空機",         "航空機"], 
                              ["戦車",           "戦車"], 
                              ["鉄道",           "鉄道"], 
                              ["その他",         "その他"] ] %>
    
    <%= f.label :maker, "メーカー" %>
    <%= f.select :maker, [ ["アオシマ",         "アオシマ"], 
                           ["イタレリ",         "イタレリ"], 
                           ["小西製作所",       "小西製作所"], 
                           ["関水金属",         "関水金属"], 
                           ["タミヤ",           "タミヤ"], 
                           ["トミーテック",     "トミーテック"], 
                           ["日本模型",         "日本模型"], 
                           ["ハセガワ",         "ハセガワ"], 
                           ["バンダイ",         "バンダイ"], 
                           ["ファインモールド", "ファインモールド"], 
                           ["フジミ",           "フジミ"], 
                           ["ボークス",         "ボークス"], 
                           ["マイクロエース",   "マイクロエース"], 
                           ["レベル",           "レベル"], 
                           ["その他",           "その他"] ] %>
  </div>
  
  <%= f.submit "追加", class: "btn btn-primary" %>
<% end %>